.navbar{
    font-family: 'IBMPlexSansKR-Bold' , sans-serif!important;
    overflow: hidden;
    width: 88vw;
    margin-bottom: 21vh;
}


.logo{
    float: left;
    height : 3rem;
    width : auto;
}

.menu{
    float : right;
    margin-top: 1vh;
    border-bottom: 2px solid white;
    padding: 0.8vh 0;
}

.menu>ul>li{
    float : left;
    font-size: 1.2rem;
    list-style: none;
    margin : 0 1.5rem;
    color: white;
}

@media screen and (max-width: 1024px){
    .logo{
        float: left;
        height : 2rem;
        width : auto;
    }
    .navbar{
        overflow: hidden;
        width: 80vw;
        margin-bottom: 13vh;
    }
    .menu>ul>li{
        float : left;
        font-size: 0.7rem;
        list-style: none;
        margin : 0 1rem;
        color: white;
    }
}