.progressbox-container{
    height: 80%;
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.progressbox-container:nth-child(1){
    margin-top: 15vh;
}

.progressbox-container:nth-child(3){
    margin-top: 15vh;
}

.progressbox-container:nth-child(5){
    margin-top: 15vh;
}

.progressbox-innercontainer{
    height: 25vh;
}
.progressbox-img{
    width: 25vh;
    height: auto;
    align-self: center;
}

.progressbox-title{
    margin-top: 5vh;
    color: white;
    font-size: 1.5rem;
    align-self: center;
    font-family: 'IBM Plex Sans', sans-serif!important;
    font-weight: bold;
    background-color: #A4734B;
    border-radius: 64px;
    width: 14rem;
    height: 3rem;
    border: 0;
    outline: 0;
}

.progressbox-description{
    font-family: 'Nanum Square' , sans-serif!important; 
    font-weight: 600;
    margin-top: 2.5vh;
    color: #3b3b3b;
    font-size: 1.2rem;
    text-align: center;
}


@media screen and (max-width: 1200px){
    
    .progressbox-container{
        height: 80%;
        display: flex;
        font-family: 'IBM Plex Sans', sans-serif;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
    }
    .progressbox-innercontainer{
        height: 25vh;
    }
    .progressbox-img{
        width: 25vh;
        height: auto;
        align-self: center;
    }
    
    .progressbox-title{
        margin-top: 5vh;
        color: white;
        font-size: 1.3rem;
        align-self: center;
        font-family: 'IBM Plex Sans', sans-serif!important;
        font-weight: bold;
        background-color: #A4734B;
        border-radius: 64px;
        width: 11rem;
        height: 2rem;
        border: 0;
        outline: 0;
    }
    
    .progressbox-description{
        margin-top: 2.5vh;
        color: #191919;
        font-size: 0.9rem;
        text-align: center;
    }
    
}

@media screen and (max-width: 768px){
    .progressbox-container:nth-child(1){
        margin-top: 0;
    }
    
    .progressbox-container:nth-child(3){
        margin-top: 0;
    }
    
    .progressbox-container:nth-child(5){
        margin-top: 0;
    }
    .progressbox-container{
        width: 60vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 10%;
    }
    .progressbox-innercontainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 25vh;
    }
    .progressbox-img{
        width: 20vh;
        height: auto;
        margin-bottom: 1vh;
        margin-right: 0;
    }
    
    .progressbox-title{
        display: block;
        font-family: 'IBM Plex Sans' , sans-serif!important;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        background-color: #A4734B;
        border-radius: 64px;
        width: 30vw;
        height: 2rem;
        border: 0;
        outline: 0;
    }
    
    .progressbox-description{
        color: #191919;
        font-size: 1rem;
        margin-top: 10%;
        letter-spacing: -0.5px;
        text-align: left;
    }
    .emphasize{
        color: #414040;
        text-align: left;
        font-size: 0.7rem;
    }
}